<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
   <div style="text-align: center">
    <a href="users">{{users}}</a>
    <p>{{users}}</p>
    </div>
</body>


</html>